<div class="container mt-5">
  <app-navbar></app-navbar>

  <div>

    <app-auth-form (submitted)="createUser($event)">
      <h3>Create</h3>
      <button
        mat-raised-button
        color="primary"
      >Join</button>
    </app-auth-form>

    <app-auth-form (submitted)="loginUser($event)">
      <h3>Login</h3>
      <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
      <button
        mat-raised-button
        color="primary"
      >Login</button>
    </app-auth-form>

  </div>

</div>
